.iframeContainer {
    position: relative;
    transform: translate(48%);
    width: 898px;
    height: 354px;
    /* top: 0%; */
    overflow: hidden;
    background-color: rgb(186, 180, 168); /* Set the background color to orange */
    box-shadow: 0 0 20px 10px rgb(202, 196, 183); /* Add a box-shadow to create the glow effect */
}

.iframeContainer1 {
    position: relative;
    transform: translate(48%);
    width: 898px;
    height: 699px;
    /* top: 0%; */
    overflow: hidden;
    background-color: rgb(186, 180, 168); /* Set the background color to orange */
    box-shadow: 0 0 20px 10px rgb(202, 196, 183); /* Add a box-shadow to create the glow effect */
}

.iframeContent {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -636px;
    left: -125px;
    width: 1504px;
    height: 2000px;
}

.iframeContent1 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -1148px;
    left: -125px;
    width: 1504px;
    height: 2000px;
}

h1 {
    color: white;
}
/* .iframeContainer {
    position: reletive;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 898px;
    height: 354px;
    overflow: hidden;
} */