/* ContactForm.module.css */

/* Modal container */
.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  }
  
  /* Modal content */
  .modalContent {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 400px; /* Adjust width as needed */
  }
  
  /* Close button */
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
    color: #888;
  }
  
  .close:hover {
    color: #000;
  }
  
  /* Contact Now button */
.contactNowButton {
    background-color: #007bff; /* Blue color */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .contactNowButton:hover {
    background-color: #0056b3; /* Darker blue color on hover */
  }

  /* ContactForm.module.css */

/* Form container */
.formContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /* Form input container */
  .formInputContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0px;
    gap: 10px;
    width: 100%;
  }
  
  /* Form input fields */
  .formInputContainer input,
  .formInputContainer select,
  .formInputContainer textarea {
    font-family: 'Roboto', sans-serif;
    color: #333;
    font-size: 1.2rem;
    padding: 1rem 2rem;
    border-radius: 0.2rem;
    background-color: rgb(255, 255, 255);
    border: 1px solid var(--col1);
    width: 90%;
  }
  
  /* Form input focus styles */
  .formInputContainer input:focus,
  .formInputContainer select:focus,
  .formInputContainer textarea:focus {
    outline: none;
    box-shadow: 0px 0px 10px 0px var(--col1);
  }
  
  /* Form input label */
  .formInputContainer label {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    margin-top: 0.7rem;
    display: block;
    color: var(--col1);
    width: 100%;
    margin-left: 40px;
  }