.blogpage{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}
.blogpage .c1{
    display: flex;
    width: 90%;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    align-self: center;
    text-align: center;
    gap: 15px;
}

.blogpage .c1 .createdat{
    color: grey;
    font-size: 15px;
    text-wrap: nowrap;
}
.blogpage .c1 .title{
    color: var(--col1);
    font-size: 25px;
    font-weight: 600;
}
.blogpage .c1 .category{
    background-color: var(--col1);
    color: #333;
    padding: 5px;
    text-wrap: nowrap;
}
.blogpage .c1 .blogimg{
    width: 100%;
    height: 100%;
    max-height: 220px;
    aspect-ratio: 1;
    object-fit: contain;
}

.blogpage .c1 .description{
    color: grey;
    font-size: 15px;
    text-wrap: wrap;
}


.c2left{
    display: flex;
    gap: 82px;
    align-items: center;
    padding: 5% ;
}
.c2right{
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
    align-items: center;
    padding: 5% ;
}




.c2left div , .c2right div {
    width: 50%;
}


.c2left .paraimg , .c2right .paraimg {
    width: 20%;
    height: auto;
}



.c2left .title , .c2right .title {
    color: var(--col1);
    font-size: 20px;
    font-weight: 600;
}


.c2left .description , .c2right .description {
    color: #333;
    font-size: 17px;
    font-weight: 300;
}